<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Website</title>
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form action="/processRegister" method="post">
            <input type="text" name="firstname" placeholder="First name">
            <input type="text" name="lastname" placeholder="Last name">
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="text" name="confirmpassword" placeholder="Confirm Password">
            <div>
                <input type="submit" value="Register">
                <!-- Login -->
                <a class="txt-sm" href="/">Already have an account?</a>
            </div>
        </form>
    </div>
</body>
</html>